In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('results.csv')

In [16]:
print(df)

                                         AttendeeId      Name         TTL
0     ad05ecdh/4b6a4c79-1ee4-66c7-c0dd-1f2082125cdf  OneShoot  1621671573
1     0hhozrnk/7bed34fd-fbe9-7f6b-fbaf-8b47f429fa54     Laura  1621433184
2     3ptqaob4/84e69213-4bf1-b774-f344-12a533f1de9d         d  1637434047
3     borussia/7a189c56-efb2-2405-78ca-9d510330d45d      Niki  1614800991
4     bsfaur2h/75a0f590-708b-1e37-a616-c57289fd679f       Ute  1621800026
...                                             ...       ...         ...
1585  ijhjgeqv/801bec23-b476-5842-9a16-64dc84246939       Eva  1621692793
1586  uszjyksv/f8700a34-47a0-1feb-57f2-d278a3c27c7b       Tin  1636624568
1587  6ttiklt8/f44f8620-c60a-4160-3ead-7997edbf0d74     Chris  1626774876
1588  7prk4zm2/928a3f2e-d6bf-df4c-4575-152ba30b3749      Norb  1621764917
1589      test/8cb323be-4b4a-4884-1a83-345465cc94af       Tin  1608303655

[1590 rows x 3 columns]

In [17]:
df_tin_cleaned = df[df.Name != 'Tin']

In [18]:
df_Niki_cleaned = df_tin_cleaned[df_tin_cleaned.Name != 'Niki']

In [19]:
print(df_Niki_cleaned)

                                         AttendeeId      Name         TTL
0     ad05ecdh/4b6a4c79-1ee4-66c7-c0dd-1f2082125cdf  OneShoot  1621671573
1     0hhozrnk/7bed34fd-fbe9-7f6b-fbaf-8b47f429fa54     Laura  1621433184
2     3ptqaob4/84e69213-4bf1-b774-f344-12a533f1de9d         d  1637434047
4     bsfaur2h/75a0f590-708b-1e37-a616-c57289fd679f       Ute  1621800026
5     yod0bgpl/e348f459-2e55-74b2-a161-fc2f4481f7ef      niki  1637251640
...                                             ...       ...         ...
1582  cafhaovr/a401792d-cf26-9ed3-e1f1-eeeb58ce971d    547z54  1633951363
1583      test/b25e01a1-d7b0-cedd-5c3d-2d751a8ad925   Norbert  1635368069
1585  ijhjgeqv/801bec23-b476-5842-9a16-64dc84246939       Eva  1621692793
1587  6ttiklt8/f44f8620-c60a-4160-3ead-7997edbf0d74     Chris  1626774876
1588  7prk4zm2/928a3f2e-d6bf-df4c-4575-152ba30b3749      Norb  1621764917

[1141 rows x 3 columns]

In [20]:
df_niki_cleaned = df_Niki_cleaned[df_Niki_cleaned.Name != 'niki']

In [21]:
print(df_niki_cleaned)

                                         AttendeeId      Name         TTL
0     ad05ecdh/4b6a4c79-1ee4-66c7-c0dd-1f2082125cdf  OneShoot  1621671573
1     0hhozrnk/7bed34fd-fbe9-7f6b-fbaf-8b47f429fa54     Laura  1621433184
2     3ptqaob4/84e69213-4bf1-b774-f344-12a533f1de9d         d  1637434047
4     bsfaur2h/75a0f590-708b-1e37-a616-c57289fd679f       Ute  1621800026
6     usmks61x/7f8ae4e8-efd2-7b0d-5cf5-ace8eadb8a4a       ana  1624018859
...                                             ...       ...         ...
1582  cafhaovr/a401792d-cf26-9ed3-e1f1-eeeb58ce971d    547z54  1633951363
1583      test/b25e01a1-d7b0-cedd-5c3d-2d751a8ad925   Norbert  1635368069
1585  ijhjgeqv/801bec23-b476-5842-9a16-64dc84246939       Eva  1621692793
1587  6ttiklt8/f44f8620-c60a-4160-3ead-7997edbf0d74     Chris  1626774876
1588  7prk4zm2/928a3f2e-d6bf-df4c-4575-152ba30b3749      Norb  1621764917

[1118 rows x 3 columns]

In [22]:
df_niki_cleaned["Name"].value_counts()

test1234        44
Norb            29
asdfasdf        28
2               26
1               24
                ..
in               1
qwtrwqr          1
scahzr           1
Holly, Kar√©n     1
Mirco            1
Name: Name, Length: 481, dtype: int64

In [23]:
df_cleaned = df_niki_cleaned[df_niki_cleaned.Name != ('test1234', 'Norb', 'asdasdf', '1', '2')]

In [24]:
print(df_cleaned)

                                         AttendeeId      Name         TTL
0     ad05ecdh/4b6a4c79-1ee4-66c7-c0dd-1f2082125cdf  OneShoot  1621671573
1     0hhozrnk/7bed34fd-fbe9-7f6b-fbaf-8b47f429fa54     Laura  1621433184
2     3ptqaob4/84e69213-4bf1-b774-f344-12a533f1de9d         d  1637434047
4     bsfaur2h/75a0f590-708b-1e37-a616-c57289fd679f       Ute  1621800026
6     usmks61x/7f8ae4e8-efd2-7b0d-5cf5-ace8eadb8a4a       ana  1624018859
...                                             ...       ...         ...
1582  cafhaovr/a401792d-cf26-9ed3-e1f1-eeeb58ce971d    547z54  1633951363
1583      test/b25e01a1-d7b0-cedd-5c3d-2d751a8ad925   Norbert  1635368069
1585  ijhjgeqv/801bec23-b476-5842-9a16-64dc84246939       Eva  1621692793
1587  6ttiklt8/f44f8620-c60a-4160-3ead-7997edbf0d74     Chris  1626774876
1588  7prk4zm2/928a3f2e-d6bf-df4c-4575-152ba30b3749      Norb  1621764917

[1118 rows x 3 columns]